/* base */
@import './navbar.css';
@import './footer.css';
@import './upscroller.css';
@import './cookies.css';


* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  color: #262626;
}


body {
  width: 100%;
  min-height: 100%;
  /* mobiili horisontaalne “ujumine” FIX */
  overscroll-behavior-x: none;
  touch-action: pan-y;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  opacity: 0;
  animation: allin 0.5s ease-in-out forwards;
}

@keyframes allin {
  from { opacity: 0; }
  to { opacity: 1; }
}
/* Chrome / Safari scrollbar */
body::-webkit-scrollbar {
  display: none;
}


html {
  scroll-padding: 120px;
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
}

body.lenis,
.lenis * {
  touch-action: pan-y !important;
}


  /* ===========MEDIA ELEMENTS============== */

img,
video,
iframe {
  max-width: 100%;

 
}
/* Kui mõni sektsioon peaks siiski üle jooksma */


footer,
main {
  max-width: 100%;
 
}