/* Sektsioon Contact form */
.contact {
  width: 100%;
  min-width: 300px;
  background-image: linear-gradient(
    #eeeeee,
    rgb(255, 255, 255),
    #eeeeee,
    rgb(255, 255, 255)
  );
  margin: 0;
  padding: 75px 0 15px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contactform {
  width: 70%;
  max-width: 1000px;
  min-width: 300px;
  height: 100%;
  background-color: #ffffff;
  margin: 20px;
  border-width: 1px;
  border-style: solid;
  box-shadow: 5px 10px 15px 6px rgba(0, 0, 0, 0.3);
  border-color: #ff0100;
  position:relative;
}
.pealkiri {
  margin:20px auto;
  width: 80%;
  padding: 30px;
  font-weight: 200;
  font-size: 30px;
 line-height: 35px;
  margin-bottom: 20px;
}
.pealkiri span {
  font-size: 25px;
}
.Input {
  width: 70%;
  height: auto;
  margin: 7px auto 7px auto;
}
.Inputtext {
  position: relative;
  width: 70%;
  height: 180px;
 
  margin: 25px auto;
}
.input {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 12px;
  padding: 6px 6px 6px 10px;
  font-size: 16px;
  font-weight: 300;
  border-style: none;
  outline: none;
  background-color: #f4f4f4;
}
.input:focus {
  border-style: solid;
  border-width: 0.1px;
  border-color: #000000;
}
.nupp {
  width: 20%;
  height: 20%;
  min-width: 100px;
  margin: 80px auto 60px auto;
  padding-bottom: 10px;
}
#login_button {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#ff0100, #ff0100, rgb(206, 7, 7));
  padding: 6px 10px;
  color: white;
  border-radius: 15px;
  border-width: 0.9px;
  transition-duration: 0.3s;
  font-size: 1rem;
  font-weight: 400;
}
#login_button:hover {
  transition-duration: 0.5s;
  transform: translateY(-2px);
  box-shadow: 10px 14px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-weight: 600;
}
#nimierror {
  font-size: 16px;
  color: #ff0100;
  text-align: center;
  padding: 5px;
}
#emailerror {
  font-size: 16px;
  color: #ff0100;
  text-align: center;
  padding: 5px;
}
#teadeerror {
  font-size: 16px;
  color: #ff0100;
  text-align: center;
}
/* Minukontakt */
.minukontakt {
  width: 20%;
  max-width: 300px;
  min-width: 200px;
  height: 100%;
  background-color: #ffffff;
  margin: 20px;
  box-shadow: 5px 10px 15px 6px rgba(0, 0, 0, 0.3);
}
.minukontakt h3 {
  width: 80%;
  padding: 20px;
  font-weight: 200;
  font-size: 20px;
  letter-spacing: 0.5px;
}
.minukontakt p {
  padding: 20px;
  font-weight: 300;
  font-size: 16px;
}
.minukontakt span {
  color: #ff0100;
}
.minukontakt img {
  width: 150px;
  border-radius: 75px;
  display: block;
  margin: 0 auto 20px auto;
}
/* Map */
.map {
  width: 100%;
}
.overlay {
  width: 100%;
  height: 600px;
  position: relative;
  background: linear-gradient(#ffffff, #dedede00);
}
iframe {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}