/* Sektsioon Ettevõttest */
.ettevottestsekts {
   width: 100%;
   background-image: linear-gradient(
     #eeeeee,
     rgb(255, 255, 255),
     #eeeeee,
     rgb(255, 255, 255)
   );
 }
 .ettevõttest {
   display: flex;
   justify-content: space-between;
   max-width: 1300px;
   margin: 0 auto;
 }

 .ettevõttest li strong {
 
  font-weight: 500;
}
.ettevõttest h3 {
 
  font-weight: 500;
}
.ettevõttest p {
 
  font-weight: 400;
}

 .ettevõttest a {
   color: #000000;
   font-weight:200;
 }
 .ettevõttest a:hover {
   color: #ff0100;
   font-weight: 500;
 }
 .kyttesepp {
   width: 50%;
   margin: 80px 12px 80px 12px;
   min-width: 300px;
   max-width: 520px;
 }
 .kyttesepp span {
   font-weight: 500;
   font-size: 30px;
   letter-spacing: 0px;
 }
 .kyttesepp h2 {
   font-weight: 200;
   font-size: 30px;
   letter-spacing: 4px;
   margin-bottom: 20px;
   line-height: 35px;
 }


 .soojuspumpadest {
   min-width: 300px;
   width: 50%;
   margin: 80px 12px 80px 12px;
   max-width: 520px;
 }
 .soojuspumpadest h2 {
   font-weight: 200;
   font-size: 30px;
   letter-spacing: 0px;
   margin-bottom: 20px;
   line-height: 35px;
 }
 .ettevottest {
   width: 240px;
   height: 250px;
   float: left;
   background-color: #ffffff;
   border-radius: 15px;
   box-shadow: 0 10px 7px rgba(0, 0, 0, 0.3);
   margin-top: 30px;
 }
 .text {
   padding: 6px;
   text-align: center;
   font-size: 13px;
   padding-top:23px;
  
 }
 .text a{
font-weight: 400;
 
}
 .ettevottest1 {
   width: 240px;
   height: 250px;
   float: right;
   background-color: #ffffff;
   border-radius: 15px;
   box-shadow: 0 10px 7px rgba(0, 0, 0, 0.3);
   margin-top: 30px;
   margin-right: 12px;
   margin-left: 6px;
 }
 .ettevottest:hover {
   transition-duration: 0.5s;
   transform: translateY(-7px);
   box-shadow: 10px 14px 10px rgba(0, 0, 0, 0.3);
   cursor: pointer;
 }
 .ettevottest1:hover {
   transition-duration: 0.5s;
   transform: translateY(-7px);
   box-shadow: 10px 14px 10px rgba(0, 0, 0, 0.3);
   cursor: pointer;
 }
 .kyttesepp ol li {
   list-style-position: inside;
   font-weight: 300;
   color: #000000;
   line-height: 25px;
 }
 .kyttesepp ul li a {
  list-style-position: inside;
  font-weight: 400;
  color: #000000;
  line-height: 25px;
}
 .kyttesepp ol {
   font-weight: 300;
   color: #000000;
 }
 .imgcontainer {
   width: 100%;
   height: 70%;
 }
 .soojuspumpadest img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
 }

 @media screen and (max-width: 755px)   {

  .ettevõttest {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  .soojuspumpadest {margin-top:30px;}
 }
