/* Carousel*/
.uper {
  position: relative;
  width: 100%;
  
}
.carousel {
  box-shadow: inset 0 0 15px 1px rgba(0, 0, 0, 0.5);
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 680px;
  position: relative;
  pointer-events: auto;

}
.carousel img {
  width: 100%;
 height:100%;

  object-fit: cover;
}
.taustadiv {
  position: absolute;
  bottom: 0px;
pointer-events: auto;
  width: 100%;

height:720px;
overflow: hidden; /* Clips any overflow */
  z-index: 0;
  opacity: 0.9;
 
}
.taust {
  position: absolute; /* Make sure it's positioned relative to its container */
  
will-change: transform;
  transform: translate3d(0, 0, 0);

  z-index: 1; /* Ensure the image stays in the background */
  
}



/* Nooled */
.carousel-button {
  position: absolute;
  border: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-left: 3px;
  padding-bottom: 0px;
  z-index: 10000;
  pointer-events: auto;
 
}
.carousel-button:hover {
  background-color: #88000052;
  border-radius: 10px;
}
.carousel-button-back {
  top: 350px;
  left: 15px;
  width: 40px;
  height: 40px;
  opacity: 1;
  cursor: pointer;
}
.carousel-button-next {
  top: 350px;
  right: 15px;
  width: 40px;
  height: 40px;
  opacity: 1;
  cursor: pointer;
}

/* Keyframes */
@keyframes slidein-left {
  from {
    opacity: 0;
    transform: translateX(-500px) scale(2);
  }
  to {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}
@keyframes slidein-right {
  from {
    opacity: 0;
    transform: translateX(500px) scale(2);
  }
  to {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}
/* Carousel ul ja li d */
.carouselcontainer {
  display: flex;
  width: 80%;
  justify-content: center;
  max-width: 1500px;
  
  margin: 50px auto;
}
.carousel-ul {
  position: absolute;
  min-width: 300px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  gap: 1rem;
  z-index: 400;
  transform: translatex(-200vh);
  opacity: 0;
  pointer-events: auto;
  max-width: 1400px;
}
.carousel-ul.active {
  animation: slide-downin 1s ease-in-out forwards;
  opacity: 1;
  
}
@keyframes slide-leftin {
  from {
    transform: translateX(-250%) scale(1.5);
    opacity: 1;
  }
  to {
    transform: translateX(-50%) scale(1);
    opacity: 1;
  }
}
@keyframes slide-rightouth3 {
  0% {
    transform: translateX(-50%) scale(1);
    opacity: 1;
  }
  90% {
    transform: translateX(250%) scale(1.5);
    opacity: 0;
  }
  100% {
    transform: translateX(-250%) scale(1);
    opacity: 0;
  }
}
@keyframes slide-rightin {
  from {
    transform: translateX(200%) scale(1.5);
  }
  to {
    transform: translateX(0%) scale(1);
  }
}
@keyframes slide-leftout {
  from {
    transform: translateX(0px) scale(1);
  }
  to {
    transform: translateX(-150%) scale(1.5);
  }
}
@keyframes slide-downin {
  from {
    transform: translatey(50%) scale(0.1);
    opacity: 0;
  }
  to {
    transform: translatey(0%) scale(1);
    opacity: 1;
  }
}
@keyframes slide-rightout {
  from {
    transform: translateX(0px) scale(1);
    opacity: 1;
  }
  to {
    transform: translateX(200%) scale(1.5);
    opacity: 1;
  }
}
.carousel-li {
  background-image: linear-gradient(160deg, rgb(255, 255, 255) 60%, #e0cdcd);
  min-width: 100px;
  
 
  list-style: none;

  position: relative;

  border-radius: 15px;
  box-shadow: 0 10px 7px rgba(0, 0, 0, 0.3);
}
.carousel-img {
  width: 100%;
  height: 100%;
 
  border-radius: 15px;
  filter: drop-shadow(2px 10px 5px #a5a5a5);
}
.carousel-li:hover {
  transition-duration: 0.5s;
  transform: translateY(-7px);
  box-shadow: 10px 14px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
/* Carousel nav indikators */
.carousel-nav {
  width: 150px;
  margin: 0 auto;
  z-index: 2;
  position: absolute;
 top:810px;
  left: 50%;
  transform: translateX(-50%);
  right:auto;
  display:flex;
  justify-content: center;
}
.carousel-nav button {
  width: 15%;
  height: 16px;
  border-radius: 8px;
  border: none;
  margin: 4px;
  background-color: #676767;
}
.carousel-nav button.active1 {
  background-color: #ff0100;
}
/* popup.images */
.popup-image {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(41, 41, 41, 0.9);
  width: 100%;
  height: 100%;
  z-index: 999999;
  display: none;
}
.img-container {
  animation: imgcontainer 0.3s ease-out;
  position: relative;
  top: 10%;
  left: 0;
  margin: auto auto;
  width: 80%;
  max-width: 1300px;
  min-width: 50px;
  background-image: linear-gradient(160deg, rgb(255, 255, 255) 60%, #e0cdcd);
  border-radius: 15px;
  box-shadow: 0 10px 7px rgba(0, 0, 0, 0.3);
}
@keyframes imgcontainer {
  from {
    opacity: 0;
    transform: scale(0.2);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.popup-image .x {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.popup-image .img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  
}


/* Heading */
.heading {
  position: relative;
  width: 80%;
  max-width: 1300px;
  min-width: 350px;
  overflow: hidden;
  font-weight: 900;
  margin: 0 auto;
  padding: 100px 20px;
  padding-bottom: 20px;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
}
.heading h1 {
  font-size: 40px;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 1px;
  text-align: center;
  line-height: 39px;
  padding: 12px 24px;
  opacity: 1;
  background-color: #ffffff42;
  border-radius: 15px;
  transform: scale(0);
  animation: h1slide 1s ease-in-out 0.5s forwards;
}
h1 span{font-size: 30px; font-weight:300; margin-top:0;}
.heading h2 {
  font-weight: 300;
  display: inline-block;
  font-size: 25px;
  padding: 12px 24px;
  font-weight: 400;

  background-color: #ffffff42;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  animation: h2slide 1s ease-in-out 0.5s forwards;
  transform: translateY(200px);
}
.heading h3 {
  display: inline-block;
  font-weight: 700;
  font-size: 1.3em;
  opacity: 1;
  position: absolute;
  line-height: 39px;
  text-align: center;
  line-height: 50px;
  padding: 12px 24px;
  background-color: #ffffff42;
  border-radius: 15px;
  left: 50%;
  top: 90px;
  transform: translatex(-250%);
}
.heading .h1logo {
  position: absolute;
width: 80%;
max-width: 500px; /* Set a reasonable maximum width */
  height: auto; /* Maintain aspect ratio */
  top: 30px;
  left: 50%;
  transition-duration: 1s;
  transform: translatex(-50%) scale(0);
  filter: drop-shadow(0px 8px 5px #a5a5a5);

}
@keyframes logoslide {
  0% {
    transform: translatey(-50px) translatex(-50%) scale(0);
  }
  100% {
    transform: translatey(0px) translatex(-50%) scale(1);
  }
}
@keyframes h1slide {
  0% {
    opacity: 1;
    transform: translateY(-50px) scale(0);
  }
  70% {
    transform: translateY(15px) scale(1.2);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
@keyframes h2slide {
  from {
    transform: translateY(200px);
  }
  to {
    transform: translateY(0px);
  }
}
.main {
  width: 100%;
}





/* Media queries */
@media screen and (max-width: 1074px) {

 




  .teenused {
    padding-top: 300px;
  }
  
}

   @media screen and (max-width: 755px)   {

    .heading {

    padding: 50px 20px;

    }
     h1 span{font-size: 18px;}
     .heading h1{font-size: 25px; 
      line-height: 30px;
     }
     .heading h2{font-size: 20px; 
      line-height: 25px;
        padding: 10px 0px;
     }
     .heading h3{font-size: 20px; 
      line-height: 20px;
     }

     .carousel{height: 500px;}
     .taustadiv{height: 530px;
     }
     .carousel-nav {
      top: 520px;
    }
    .carousel-ul{
    min-width: 300px;
    width: 90%;}

    .carousel-button-back {
  top: 290px;
  left: 10px;
  width: 40px;
  height: 40px;
  opacity: 1;
  cursor: pointer;
}
.carousel-button-next {
  top: 290px;
  right: 10px;
  width: 40px;
  height: 40px;
  opacity: 1;
  cursor: pointer;
}
  .carousel-nav {
      top: 570px;
    }

  }