/* Carousel*/
.uper {

   width: 100%;
   
 }
 .carousel {

   width: 100%;
   height:820px;
 
 }
 
 .taustadiv {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 1000px;
  overflow: hidden;
  z-index: -1;

  
 }
 .taust {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%; /* Optional */
  height:100%;
  object-fit: cover; /* Optional - fills the area without stretching */
  object-position: top; 
  opacity: 0.9;
  z-index: -5;

   will-change: transform;
  transform: translate3d(0, 0, 0);
 }
 .textholderdiv{
  position: relative;
  max-width:1300px;
  margin: auto auto;
  
  top: 120px;
 
  min-width:900px;

  border-radius: 15px;
}

 .textholder{
  background-color: #ffffffa8;
   backdrop-filter: blur(3px);
  animation: h1slide 1s ease-in-out 0.5s forwards;
  position: relative;
  padding: 10px;
  width: 70%;
  min-width: 315px;
  max-width: 900px;
  

  z-index: 9999;
  margin:15px;
  border-radius: 15px;
  transform: scale(0);
 }

 .carousel h1 {
  
  text-align:start;

  
  color: black;
  
  font-size: 2rem;
  font-weight: 900;
 
  padding: 12px;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom:20px
  
  
  
  
}
.carousel p {

  text-align:start;
  
  
  
  font-size: 16px;
  font-weight:500;
 
  padding: 12px;
  line-height: 25px;

 
}
.carousel span {
 
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 0px;
 
}
@keyframes h1slide {
  0% {
    opacity: 1;
    transform: translateY(-50px) scale(0);
  }
  70% {
    transform: translateY(15px) scale(1.2);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@media screen and (max-width: 755px)   {

  .carousel {

    height: 840px;
  
  }
  .taust {
    height:840px;
   
  }

  .carousel h1 {
    
    color: black;
    font-size: 1.4rem;
    padding: 8px;
    line-height: 25px;
    letter-spacing: 1px;
  }
  .carousel span {
    font-size: 1.2rem;
    line-height: 25px;
  }
  .carousel p {
   
   
    font-size: 13px;
    padding: 8px;
    line-height: 20px;
  
   
  }
  .textholderdiv{
    position: relative;
    max-width:1300px;
    min-width:330px;
    margin: auto auto;
    top: 30px;
  
  }
  
  
}