/* Carousel*/
.uper {

   width: 100%;
   
 }
 .carousel {
position: relative;
   width: 100%;
   height:490px;
 
 }
 
 .taustadiv {
  position: relative;
  width: 100%;
  height: 520px;
  overflow: hidden;
  z-index: -1;

  
 }
 .taust {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%; /* Optional */
  height:100%;
  object-fit: cover; /* Optional - fills the area without stretching */
  object-position: top; /* <-- This makes the top of the image always show */
  opacity: 0.8;
  z-index: -5;
   
   will-change: transform;
  transform: translate3d(0, 0, 0);
 }
 .textholderdiv{
   position: absolute;
  inset: 0;                 /* top:0 right:0 bottom:0 left:0 */
  max-width: 1300px;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: none;     /* optional */

  

     
}

 .textholder{
  background-color: #ffffffa8;
  animation: h1slide 1s ease-in-out 0.5s forwards;
  
  border-radius: 15px;
  width: 70%;
  min-width: 300px;
  max-width: 900px;
  
 pointer-events: auto;
  z-index: 9999;
  border-radius: 15px;
  transform: scale(0);
  transform-origin: center;
 }

 .carousel h1 {
  
  text-align: center;

  
  color: black;
  
  font-size: 2rem;
  font-weight: 700;
 
  padding: 15px;
  line-height: 38px;
 

  
  
  
  
}
.carousel p {
  text-align:start;
  
  
  
  font-size: 16px;
  font-weight:500;
 
  padding: 15px;
  line-height: 25px;

 
}
.carousel span {
 
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 0px;
 
}
@keyframes h1slide {
  0% {
    opacity: 1;
    transform: translateY(-50px) scale(0);
  }
  70% {
    transform: translateY(15px) scale(1.2);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@media screen and (max-width: 755px)   {

  .carousel {
height:250px;
    
  
  }
  .taust {
    height:300px;
  }

  .taustadiv {

  height: 250px;
 

  
 }


  .carousel h1 {
 
    
    font-size: 1.5rem;
    
    line-height: 28px;
    
  }
  .carousel span {
    font-size: 1.2rem;
    line-height: 25px;
  }
  .carousel p {
   
    text-align: justify;
    font-size: 13px;
    padding: 8px;
    line-height: 20px;
  
   
  }

  
  
}