/* Sektsioon teenused */
.sektsioon-teenused {
   position: relative;
   width: 100%;
   background-color: #eeeeee;
 }
 .teenused {
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   flex-wrap: wrap;
   list-style: none;
   max-width: 1300px;
   min-width: 300px;
   margin: 0 auto;
   padding: 150px 8px 20px 8px;
   
   gap: 10px;
 }
 .teenused li {
   padding: 10px 12px 0 12px;
   text-align: center;
   width: 200px;
   min-width: 150px;
   display: flex;
   flex-direction: column;
 }
 .teenused li:nth-child(2) {
   text-align: center;

 }
 
 .teenused li:nth-child(4) li {
width:100%;
   padding:0;
   text-align: center;
   line-height: 16px;
   font-size: 0.9rem;
   padding-top: 0;
   padding-bottom: 5px;
 }
 .teenused li:nth-child(4) ul {
  display:flex;
  flex-direction: column;

 }
 .h5holder {
   height: 80px;
 }
 .teenused li a {
   color: #000000;
   font-weight: 500;
   
 }
 .teenused p span {
   color: #ff0100;
   font-size: 1rem;
   font-weight: 500;
 }
 .teenused li a:hover {
   color: #ff0100;
 }
 .teenused p span:hover {
   color: #ff0100;
 }

 .teenused p{line-height: 20px;}
 .teenused h5 a {
  
   color: #ff0100;
   font-size: 1rem;
   font-weight: 500;
 }
 .teenused h5 {
   font-size: 1.2rem;
   font-weight: 500;
   line-height: 25px;
 }
 .teenused p {
   font-size: 0.9rem;
   margin-top: 20px;
   margin-bottom: 20px;
 }
 .number {
   width: 40px;
   height: 40px;
   background: linear-gradient(to top right, #ff0100, #ffb4b4);
   margin: auto;
   margin-top: 20px;
   margin-bottom: 12px;
   border-radius: 20px;
   text-align: center;
 }
 .number span {
   display: inline-block;
   position: relative;
   top: 5px;
   width: 34px;
   height: 30px;
   background-color: #d8d8d8;
   border-radius: 20px;
   color: #ff0100;
   font-size: 1.3rem;
   font-weight: 600;
 }


 @media screen and (max-width: 755px)   {

  .teenused{
    justify-content: center;
  }
 }
