/* Sektsioon teenused */
.sektsioon-teenused {
   position: relative;
   width: 100%;
   background-color: #ffffff;
 }
 .teenused {
   display: flex;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
   list-style: none;
   max-width: 1300px;
   min-width: 300px;
   margin: 0 auto;
   padding: 20px 8px 20px 8px;
   
   gap: 10px;
 }
 .teenused li {
   padding: 10px 12px 0 12px;
   text-align: center;
   width: 300px;
   min-width: 150px;
   display: flex;
   flex-direction: column;
  
   
   
 }
 .teenused li:nth-child(3) {
  border-left: 1px solid #9595958a; /* Left border */
  border-right:1px solid #9595958a; /* Right border */
 }
 

 .h5holder {

   height: 80px;
 }

 .teenused p span {
   color: #ff0100;
   font-size: 1.5rem;
   font-weight: 500;
   line-height: 30px;
 }

 .teenused h2 {
  width: 100%;  /* Makes sure h2 takes full width */
   text-align: center; /* Centers the text */
   margin: 20px; /* Adds space below h2 */
}


 .teenused h3 {
   font-size: 1.3rem;
   font-weight: 500;
   line-height: 25px;
 }
 .teenused p {
   font-size: 1.1rem;
   margin-top: 0px;
   margin-bottom: 20px
 }
 .number {
   width: 40px;
   height: 40px;
   background: linear-gradient(to top right, #ff0100, #ffb4b4);
   margin: auto;
   margin-top: 20px;
   margin-bottom: 12px;
   border-radius: 20px;
   text-align: center;
 }
 .number span {
   display: inline-block;
   position: relative;
   top: 5px;
   width: 34px;
   height: 30px;
   background-color: #d8d8d8;
   border-radius: 20px;
   color: #ff0100;
   font-size: 1.3rem;
   font-weight: 600;
 }


 @media screen and (max-width: 755px)   {

  .teenused{
    justify-content: center;
  }
 }
