.tootjasektsioon {
   width: 100%;
   background-image: linear-gradient(
     #eeeeee,
     rgb(255, 255, 255),
     #eeeeee,
     rgb(255, 255, 255)
   );
 }
 .tootjast {
   display: flex;              /* Enable flexbox */
   flex-direction: column;      /* Align children in a column */
   justify-content: center;     
   align-items: center;         
   width: 100%;                 /* Full width */

}

.ettevotte {
   padding:25px;
   min-width: 300px;
   max-width: 1000px;
   margin: 50px auto;
   text-align:start;         /* Justifies the text */
   width: 100%;                 /* Ensures the .ettevotte takes up full width within the container */
   position: relative;          /* Add relative positioning to control the positioning of child elements */
   display: flex;              /* Enable flexbox */
   flex-direction: column;      /* Align children in a column */
   justify-content: flex-start;     
   align-items: flex-start;  
}
 .ettevotte span {
   font-weight: 500;
   font-size: 30px;
   letter-spacing: 0px;
 }
 strong{font-size: 20px;}
 .ettevotte h2 {
   font-weight: 200;
   font-size: 30px;
   letter-spacing: 4px;
   margin-bottom: 30px;
  
 }
 ul.rohelise-linnukesega {
  margin:20px 0 40px 0;
}

 .rohelise-linnukesega li {
  position: relative;
  padding-left: 28px;
  margin-bottom: 3px;
  font-weight: 500;

}
.rohelise-linnukesega li::before {
  content: "✔";
  color: green;
  position: absolute;
  left: 0;
  top: 0;
}

#tumekiri{font-weight: 600;font-size: 20px;
  }

 .pildidiv {

  width: 60%;
  min-width: 300px;
  height: 100%; /* Set a specific height */
  margin-top: 50px;
  margin-bottom: 70px;
  opacity: 0;
 
 
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.2);}
.pildidivholder{
  display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 55px;
}

 .tootjastpilt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.videodiv{display: flex;
 
gap: 1rem;
margin-bottom:45px;
flex-direction: row;
flex-wrap: wrap;
}

iframe{border-radius: 12px;}

.links{ display: flex;             
  flex-direction: row;     
  justify-content: center; 
  flex-wrap: wrap;
}
ul {list-style:none;}
ul p {font-weight:300; font-size: 16px;}
h4{font-size: 20px;font-weight: 600;
  background-color: #f0f0f0; /* light gray */
  padding: 15px 15px;
  border: 1px solid #ccc;
  border-radius: 18px;
  display: inline-block; /* optional: makes it fit content */
  margin-bottom: 16px;
}


.inverse1 {
  opacity: 1;
  animation: linkslide 1s ease-in-out forwards;
}

@keyframes linkslide {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

 /* küsi pakkumist parem
.kusipakkumist {
   width: 170px;
   height: 170px;
   background-image: radial-gradient(#ff0100, #ff0100, rgb(206, 7, 7));
   padding: 6px 10px;
   margin: 100px auto 30px auto;
   color: white;
   border-radius: 15px;
   transition-duration: 0.3s;
   box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
   border-radius: 40% 60% 60% 40% / 50% 70% 25% 30%;
 }
 .kusipakkumist h3 {
   font-weight: 600;
   font-size: 20px;
   line-height: 25px;
   text-align: center;
   color: #ffffff;
   border-radius: 90px 130px 90px 130px;
   margin: 40px 12px;
   padding: 18px;
   transform: rotate(30deg) translateX(-3px);
 }
 .kusipakkumist h3:hover {
   color: #ffffff;
   font-weight: 700;
   background-color: #00000071;
 }
 .kusipakkumist:hover {
   transition-duration: 0.5s;
   transform: translateY(-7px);
   box-shadow: 10px 14px 10px rgba(0, 0, 0, 0.3);
   cursor: pointer; 
 }*/

 /* küsi pakkumist vasak */
.kusipakkumist {
   width: 150px;
   height: 150px;
   background-image: radial-gradient(#ff0100, #ff0100, rgb(206, 7, 7));
   padding: 6px 0px;
   margin: 30px 20px 20px 20px;
   color: white;
   border-radius: 15px;
   transition-duration: 0.3s;
   box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
   border-radius: 60% 40% 40% 60% / 70% 50% 30% 25%;

           
   right: 0;                   /* Align to the right side */
   bottom: 0;                  /* Optional: adjust position vertically */
 }
 

 .kusipakkumist p {
   width: 100%;
   font-weight: 600;
   font-size: 16px;
   text-align: center;
   line-height: 20px;
   color: #ffffff;
   border-radius: 130px 90px 130px 90px;
   margin: 40px 12px;
   padding: 8px;
   transform: rotate(-30deg) translateX(-18px);
 }
 .kusipakkumist p:hover {
   color: #ffffff;
   font-weight: 700;
   background-color: #00000071;
 }
 .kusipakkumist:hover {
   transition-duration: 0.5s;
   transform: translateY(-7px);
   box-shadow: 10px 14px 10px rgba(0, 0, 0, 0.3);
   cursor: pointer;
 }
.red-line {
  border: none;
  border-top: 2px solid #ff0100;  /* thickness and color */
  
  max-width: 500px;
  margin: 3em 0 6em 0;   
  align-self: flex-start;  
        /* space above/below, centered */
}
 @media screen and (max-width: 755px)   {


  p{font-size: 15px;}
  .content ul li {font-size: 17px;}
  
  .ettevotte h2 span  {font-size: 27px;}
  .content h3 strong {font-size: 20px;line-height: 27px;}
  .content h3 {font-size: 20px;line-height: 27px;}
  .content h4 {font-size: 18px;}
  .content h5 {font-size: 18px;}
  .content span {font-size: 22px;}
  }