/* upscroller */
.upscroller {
  position: fixed;
  bottom: 80px;
  right: 12px;
  border: none;
  opacity: 0;
  transition: opacity 2s;
  z-index: 5000;
}
.upscroller img:hover {
  background-color: #88000052;
  border-radius: 10px;
}
.upscroller img {
  width: 40px;
  height: 40px;
  padding-top: 3px;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 4px;
  cursor: pointer;
  background: transparent;
}
